.blue
{
    display: flex;
    height:60px;
    width:60px;
    background-color: blue;
}
.violet
{
    display: flex;
    height:60px;
    width:60px;
    background-color: violet;
}
.silver
{
    display: flex;
    height:60px;
    width:60px;
    background-color: silver;
}
.grey
{
    display: flex;
    height:60px;
    width:60px;
    background-color: grey;
}
.wrapper
{
    display: flex;
    flex-wrap: wrap;
}