.blue
{
    height:60px;
    width:60px;
    background-color: blue;
}
.violet
{
    height:60px;
    width:60px;
    background-color: violet;
}
.silver
{
    height:60px;
    width:60px;
    background-color: silver;
}
.grey
{
    height:60px;
    width:60px;
    background-color: grey;
}
.black
{
    height:60px;
    width:60px;
    background-color: black
}
.wrapper
{
    display: grid;
    grid-template-columns: repeat(15, 60px);
    grid-template-rows: repeat(15, 60px);
}